aws_access_key: asdf
aws_secret_key: ASDF
aws_keys_bucket: bucket
easydns_api_token: u123123123
easydns_api_key: api123123123
easydns_domain: example.com

# if you would like the certs to be stored on another node
# useful if you are using tower
# delegation_target: node.example.com

# make life easier
o: Example Co.
ou: Information Technology
e: root@example.com
c: US
st: CA
l: San Francisco
